apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: auction-platform-dev

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      labelSelector: tier=backend
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 2
    target:
      kind: HorizontalPodAutoscaler
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 5Gi
    target:
      kind: StatefulSet
      name: postgres
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 1Gi
    target:
      kind: StatefulSet
      name: redis
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 2Gi
    target:
      kind: StatefulSet
      name: rabbitmq

configMapGenerator:
  - name: auction-platform-config
    behavior: merge
    literals:
      - ASPNETCORE_ENVIRONMENT=Development
      - LOG_LEVEL=Debug

secretGenerator:
  - name: auction-platform-secrets
    behavior: merge
    literals:
      - POSTGRES_USER=dev_user
      - POSTGRES_PASSWORD=dev_password_change_me
      - REDIS_PASSWORD=dev_redis_password
      - RABBITMQ_USER=dev_rabbit
      - RABBITMQ_PASSWORD=dev_rabbit_password
      - JWT_SECRET=dev_jwt_secret_32_chars_minimum
