# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
build

# Cache
.turbo
.cache
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
*.pem
.vercel
